.chat__status-bar{
  display: flex; /*put status in the same line*/
  justify-content: center;
  padding: 5px 3px;
  position: fixed;
  top:0;
  left:0;
  right:0;
  background-color: #abc1d1;
  z-index: 2;
}

.chat__alt-header{
  position: sticky;
  top: 0;
  padding: var(--horizontal-space);
  padding-top: 45px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #abc1d1;
  z-index: 1;
}

#chat-screen{
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .alt-header{
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

@keyframes fadeIn{
  from{
    transform: translateY(30px);
    opacity: 0;
  }
  to{
    transform: none;
    opacity: 1;
  }
}

.main-chat{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.3s linear;
}

#chat-screen .status-bar{
  z-index: 1;
}

.chat__date{
  color: white;
  background-color: #92a4b2;
  padding: 10px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 33px;
}

.message-row{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  
}

.message-row img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 20px; 
}

.message-row__content{
  margin-left: 10px;
}

.message__author{
  opacity: 0.8;
  display: block;
  margin-bottom: 7px;
}

.message__bubble{
  background-color: white;
  padding: 8px;
  border-radius: 15px;
  border-top-left-radius: 3px;
  font-weight: 500;
}

.message__info{
  display: flex;
  align-items: flex-end;
}

.message__time{
  font-size: 13px;
  margin-left: 5px;
}

.message-row--reply{
  justify-content: flex-end;
}

.message-row--reply .message__bubble{
  background-color: var(--yellow);
  border-radius: 15px;
  border-top-right-radius: 3px;
  /* order: 1; (only works on flex children) */ /* sol 1 */
}

.message-row--reply .message__info{
  flex-direction: row-reverse; /* sol 2 */
}

.message-row--reply .message__time{
  font-size: 13px;
  margin-right: 5px;
}

.input{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.input .input__column:first-child{
  width: 5%;
}

.input .input__column:last-child{
  width: 95%;
  position: relative;
}

@keyframes hideIcons{
  from{
    opacity: 0.5;
  }
  to{
    opacity: 1;
  }
}

.input__column > i{
  opacity: 0.5;
  transition: hideIcons 0.3s ease-in-out;
} 

.input input{
  padding: 10px;
  width: 100%;
  border: var(--main-border);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.input__column:last-child button{
  position: absolute;
  right: 5px;
  top: 3px;
}

.input__column:last-child > i{
  position: absolute;
  right: 42px;
  top: 13px;
}

.input__column button{
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.input__column button:focus,
.input__column button:active{
  outline: none;
}

.input:focus-within .input__column:first-child,
.input:focus-within .fa-smile-wink,
.input:focus-within button{
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.input:focus-within input{
  width: 95vw;
  transform: translateX(-6%) translateY(-90px);
}

.input:focus-within{
  transform: translateY(80px);
}