.screen-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 45px;
  margin-bottom: 15px;
}
.screen-header__title{
  font-size: 30px;
  font-weight: 900;
}
.screen-header__icons span{
  margin-left: 25px;
}

.screen-header__small_notification{
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 25px;
  bottom: 22px;
}